<!DOCTYPE html>
<html>
  <head>
    <title>Загрузка изображения</title>
  </head>
  <body>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}
    
    <h1>Загрузите новый файл</h1>
    
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
      </p>
    </form>
   
    <h1>Результат:</h1>
    {% if img_src %}
      <h1>
         <a href="{{ img_src }}">Ссылка для скачивания результата</a>
     </h1>
      <img src="{{ img_src }}" width="800">
    {% endif %}
    {% if pdf_src %}
      <h1><a href="{{ pdf_src }}"> Ссылка для скачивания результата</h1></p>
      <object type="application/pdf" data="{{ pdf_src }}" width="720" height="1024">Не удалось показать документ</object>
    {% endif %}
  </body>
</html>
